.widget{display:inline-block;width:auto;-webkit-animation:show-widget 1.5s;-moz-animation:show-widget 1.5s;-o-animation:show-widget 1.5s;animation:show-widget 1.5s}
@-webkit-keyframes show-widget{0%{opacity:0}
100%{opacity:1}}
@-moz-keyframes show-widget{0%{opacity:0}
100%{opacity:1}}
@-o-keyframes show-widget{0%{opacity:0}
100%{opacity:1}}
@keyframes show-widget{0%{opacity:0}
100%{opacity:1}}
.widget_day{list-style:none;margin:5px;padding:5px;border:1px solid}
.widget-title{display:inline-block;width:140px}