.options {
    display: inline-block;
    width: 260px;
    vertical-align: top;
}
.widget-body-cont {
    display: inline-block;
    width: 740px;
    vertical-align: top;
    padding: 20px;
}
.widget-body-cont_widget-body {
    width: 100%;
    height: 300px;
}
.example {
    display: inline-block;
    width: auto;
}
.hide {
    display: none;
}