<ul class="widget">
    {{~it.array :value:index}}
    {{? index === 0}}
    <li class="widget_day widget_day__today">
        <div>
            <span class="widget-title">observation_time:</span>
            <span class="observation_time">{{=value.observation_time}}</span>
        </div>
        <div>
            <span class="widget-title">temperature:</span>
            <span class="temperature">{{=value.temperature}}</span>
        </div>
        <div>
            <span class="widget-title">weather_condition:</span>
            <span class="weather_condition">{{=value.weather_condition}}</span>
        </div>
        <div>
            <span class="widget-title">pressure:</span>
            <span class="pressure">{{=value.pressure}}</span>
        </div>
        <div>
            <span class="widget-title">wind_direction:</span>
            <span class="wind_direction">{{=value.wind_direction}}</span>
        </div>
        <div>
            <span class="widget-title">wind_speed:</span>
            <span class="wind_speed">{{=value.wind_speed}}</span>
        </div>
        <div>
            <span class="widget-title">humidity:</span>
            <span class="humidity">{{=value.humidity}}</span>
        </div>
    </li>
    {{??}}
    <li class="widget_day">
        <div>
            <span class="widget-title">date:</span>
            <span class="date">{{=value.date}}</span>
        </div>
        <div>
            <span class="widget-title">day:</span>
            <span class="temperature">{{=value.day.temperature}}</span>
            <span class="weather_condition">{{=value.day.weather_condition}}</span>
        </div>
        <div>
            <span class="widget-title">night:</span>
            <span class="temperature">{{=value.night.temperature}}</span>
            <span class="weather_condition">{{=value.night.weather_condition}}</span>
        </div>
    </li>
    {{?}}
    {{~}}
</ul>